* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  overflow: hidden;
}
select {
  padding: 4px;
  font-size: 14px;
  border: 1px solid #191919;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* Elimina los estilos nativos del navegador */
  outline: none; /* Elimina el contorno predeterminado del navegador */
  cursor: pointer;
  background-color: #191919;
  color: #fff;
}

/* Estilos para las opciones del select */
select option {
  padding: 8px;
  font-size: 14px;
  background-color: #303230;
}
.os {
  background-image: url("/src/assets/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
.options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
  padding: 20px;
  height: 100vh;
  width: 200px;
}
.icon-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  font-size: 16px;
}
.icon-desktop_img {
  width: 70%;
  height: 70%;
}
.ventana-option {
  position: absolute;
  width: 800px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  top: 90px;
  right: 60px;
  box-shadow: 0px 0px 2px #191919;
  background-color: #292929;
  color: #fff;
}
.ventana-option_header {
  text-align: right;
  padding: 5px 10px;
  background-color: #191919;
  color: #fff;
}
.ventana-option_title,
.ventana-option_subtitle {
  color: #fff;
  padding: 10px;
}
.ventana-option_parrafo,
.ventana-option_list {
  padding: 10px;
}
.contact {
  background-color: #252525;
  width: 600px;
  right: 20vw;
}
.ventana-option__container0 {
  display: flex;
  padding: 15px;
  width: 100%;
}
.ventana-option__container1,
.ventana-option__container2 {
  width: 50%;
}

.ventana-option__container1 {
  margin-right: 20px;
}
.ventana-option__container1__titulo {
  font-size: 16px;
}
.ventana-option__container1__tema {
  font-size: 25px;
  margin: 2.5px 0px 5px 0px;
}
.ventana-option__container1__parrafo1,
.ventana-option__container1__parrafo2 {
  font-size: 14px;
}
.ventana-option__container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 330px;
  padding-right: 20px;
}
.ventana-option__container2__form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inputs_form_contact {
  height: 30px;
  padding: 5px;
  outline: none;
}
.ventana-option__container2__asunto {
  resize: none;
  height: 130px;
}
.ventana-option__container2__submit {
  cursor: pointer;
}
.contenedor-filtar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}
.works {
  top: 20px;
  width: 1000px;
  height: 550px;
  overflow-y: scroll;
}

/* Estilo para la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
.works::-webkit-scrollbar {
  width: 5px; /* ancho de la barra de desplazamiento */
}

.works::-webkit-scrollbar-thumb {
  background-color: #303230; /* color del "pulgón" de desplazamiento */
}

.works::-webkit-scrollbar-track {
  background-color: #585858; /* color de fondo de la barra de desplazamiento */
}

/* Estilo para la barra de desplazamiento en Firefox */
.works {
  scrollbar-width: thin; /* grosor de la barra de desplazamiento */
  scrollbar-color: #4caf50 #f1f1f1; /* color del "pulgón" y color de fondo */
}
.contenedor-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
  align-items: center;
}

.card-works {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  background-color: rgb(12, 21, 25);
  margin: 0 25px 15px 0;
  border-radius: 15px;
  transition: 0.5s;
}
.card-works:hover{
  transform: scale(1.05);
}
.contenedor-card__img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.contenedor-card__h3 {
  font-size: 16px;
  margin: 5px;
}
.contenedor-card__p {
  font-size: 14px;
  margin: 0 5px;
}
.contenedor-icons {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 5px 10px 5px;
}
.contenedor-icons__icon {
  width: 22px;
  margin-right: 5px;
}
.os__contenedor_lenguaje {
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  margin: 20px 15px;
}
.os__contenedor_lenguaje > button {
  width: 40px;
  margin: 0 10px;
  background-color: #b43929;
  color: #fff;
  cursor: pointer;
}
.destino {
  position: fixed;
  top: 20px; /* es el mismo que en los estilos de .works*/
  width: 1000px; /* es el mismo que en los estilos de .works*/
  height: 550px; /* es el mismo que en los estilos de .works*/
  background-color: #191919b0;
  display: none;
  align-items: center;
  justify-content: center;
}
.destino__header {
  background-color: #191919b0;
}
.destino__container {
  background-color: #191919;
  height: 35%;
  width: 40%;
}
.destinoActivo {
  display: flex;
}
.destino__containerImagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}
.destinoImagen > img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 0 30px;
}
.skills {
  background-color: rgba(42, 42, 42, 0.491);
  color: #ffffffd4;
  height: 450px;
  width: 800px;
  right: 200px;
  top: 50px;
}
.skills__header {
  background-color: rgba(23, 23, 23, 0.084);
}
.skills > h1 {
  margin: 5px;
}
.skills > p {
  margin: 15px;
  margin-left: 10px;
}
.skills > ul {
  margin: 30px;
  list-style: circle;
}
.skills > ul > li{
  margin-bottom: 10px;
}
.reciclar{
  position: relative;
  transform: rotate(-30deg);
  transform: translate(-1000px, 1000px);
  animation: explode 3s ease-in-out;
  
}
@keyframes explode {
  0% {
    transform: translate(0, 0);
    transform: scale(1) rotate(0deg);
  }
  5%{
    transform: translate(-15px, -15px);
  }
  10%{
    transform: translate(15px, 15px);
  }
  15%{
    transform: translate(-15px, -15px);
  }
  20%{
    transform: translate(15px, 15px);
  }
  25%{
    transform: translate(-15px, -15px);
  }
  30%{
    transform: translate(5px, 5px);
  }
  35%{
    transform: translate(5px, -5px);
  }
  40%{
    transform: translate(-5px, 5px);
  }
  45%{
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(0px, 0px);
   
  }
  75% {
    transform: translate(-5px, -5px);
    transform: rotate(-30deg);
  }
  100% {
   
    transform: translate(-1000, 1000px);
  }
}

@media only screen and (max-width: 1062px) {
  .ventana-option{
    width: 600px
  }
  
  .works{
    width: 800px;
    top: 70px;
  }
  .contenedor-card{
    padding: 5px;
  }
  .card-works{
    margin-right: 10px;
  }
  .destino{
    width: 800px;
    top: 70px;
  }
  .skills{
    width: 600px;
    right: 100px;
  }
  .contact{
    right: 70px;
  }
}
@media only screen and (max-width: 865px) {
  .ventana-option{
    width: 400px
  }
  
  .works{
    width: 600px;
    top: 40px;
    right: 10px;
  }
  .contenedor-card{
    padding: 10px;
  }
  .destino{
    width: 600px;
    top: 70px;
  }
  .skills{
    width: 600px;
    right: 10px;
  }
  .contact{
    right: 70px;
    
  }
  .ventana-option__container1__parrafo1, .ventana-option__container1__parrafo2{
    font-size: 12px;
  }
}
@media only screen and (max-width: 610px) {
  html{
    overflow-y: scroll;
  }
  .os__contenedor_lenguaje{
    position: relative;
    margin: 0 15px;
  }
  
  .ventana-option{
    width: 400px
  }
  .works{
    width: 500px;
    top: 10px;
    right: 5px;
  }
  .contenedor-card{
    padding: 5px;
  }
  .destino{
    width: 500px;
    top: 10px;
  }

  .destinoImagen > img{
    width: 60px;
    height: 60px;
    margin: 15px;
  }
  .skills{
    width: 400px;
    right: 10px;
  }
  .contact{
    right: 20px;
    
  }
  .ventana-option__container1__parrafo1, .ventana-option__container1__parrafo2{
    font-size: 12px;
  }
}
@media only screen and (max-width: 518px) {
  h1{
    font-size: 22pxpx;
  }
  .ventana-option{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
  .contenedor-card{
    justify-content: center;
  }
  .card-works{
    width: 100%;
    margin: 30px 0;
    height: 300px;
    margin-left: 5px;
  }
  .contenedor-card{
    padding: 5px;
  }
  .destino{
    width: 100%;
    height: 100%;
    top: 0;
  }
  .destino__container{
    width: 70%;
  }

  .destinoImagen > img{
    width: 60px;
    height: 60px;
    margin: 15px;
  }
  .skills{
    width: 100%;
    right: 0px;
    background-color: #191919;
  }
  .contact{
    right: 0px;
    
  }
  .ventana-option__container0{
    flex-direction: column;
  }
  .ventana-option__container1, .ventana-option__container2{
    width: 100%;
  }
  .ventana-option__container1__parrafo1, .ventana-option__container1__parrafo2{
    font-size: 14px;
  }
}